.confirm-edit-text p {
  text-align: center;
  color: #777;
}
.confirm-edit-text p:nth-of-type(1) {
  color: #000;
  font-size: 16px;
  font-weight: 300;
}
.confirm-edit-input-btn input {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  height: 40px;
  width: 82%;
  color: #777;
  padding: 0px 5px 0px 10px;
  outline: none;
}
.confirm-edit-input-btn {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 40px;
}
.confirm-edit-input-btn .confirm-btn {
  width: 82%;
}
