.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.searchContainer > div:nth-of-type(1) {
  font-size: 30px;
  padding: 20px;
  margin-bottom: 30px;
}

.searchContainer > div:nth-of-type(2) {
  font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

/* 경계선 */
.borderLine {
  border: 1px solid #e3e3e3;
  width: 80%;
}

/* 아이디/비밀번호 탭 */
.targetContainer {
  width: 400px;
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.targetContainer button {
  width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid black;
  background-color: #dde7e1;
  color: #777;
  cursor: pointer;
}

.targetContainer button.active {
  background-color: white;
  color: black;
  border-bottom: 2px solid white;
}

.targetContainer button:first-child {
  border-right: none;
}

/* 검색내용 전체 */
.searchWrap {
  height: 300px;
  width: 400px;
  margin-top: 30px;
}

.searchWrap .radioWrap {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
}
.searchWrap .radioWrap > svg {
  height: 20px;
  width: 20px;
  margin: 0px 0px 0px 10px;
}

.searchWrap input {
  height: 40px;
  width: 385px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  padding-left: 10px;
  margin: 0px 0px 10px 10px;
  font-size: 12px;
  font-weight: 100;
}
.emailContainer > input:focus,
.phoneContainer > input:focus {
  outline: none;
  border-color: #a8caba;
  box-shadow: 0 0 8px rgba(168, 202, 186, 0.5);
}

/* email */
.emailContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.emailContainer p {
  font-size: 13px;
  margin: 0px 0px 0px 5px;
  height: 20px;
  line-height: 20px;
}

/* phone */
.phoneContainer {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.phoneContainer > .radioWrap {
  margin-bottom: 5px;
}

.phoneContainer p {
  font-size: 13px;
  margin-left: 5px;
  height: 20px;
  line-height: 20px;
  flex: 10;
}
.phoneContainer > p {
  margin: 0px 0px 5px 12px;
}

.phoneContainer > div:nth-of-type(2) {
  width: 400px;
}

.searchButton {
  width: 400px;
  margin-top: 15px;
}

/* 비밀번호찾기 상세화면 */
.pwContainer {
  width: 100%;
}

.pwContainer p {
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  margin: 15px 0px 5px 12px;
}
