.review-form-container {
    width: 100%;
    height: 800px;
    margin: 80px 0px;
    padding: 30px;
    overflow-y: auto;
}
/* 페이지이름(p) + 뒤로가기(svg) */
.review-form-title-wrap {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 500;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    padding: 10px 30px;
    background-color: #fff;
    border-bottom: 1px solid #e3e3e3;
    gap: 10px;
}
.review-form-title-wrap svg {
    margin: 0;
    width: 35px;
    height: 100%;
    cursor: pointer;
    z-index: 1000;
}
.review-form-title-wrap p {
    flex: 3;
    margin: 0;
    font-size: 20px;
    line-height: 35px;
}

/* 리뷰작성폼 */
.review-form-wrap {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    width: 85%;
}
.review-form-wrap p {
    margin: 0;
    color: #777;
}
.review-form-wrap > p {
    color: #000;
    font-size: 20px;
}
/* 별점 */
.review-form-count {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review-form-count > div {
    margin: 0;
    color: #ffb703;
}
.review-form-count > div svg {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
/* 이미지 */
.review-form-img {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review-form-img > div {
    margin: 0;
}
.review-img-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.review-img-box .review-img-add {
    cursor: pointer;
}
.review-img-box .review-img-item > svg {
    cursor: pointer;
    position: relative;
    width: 18px;
    height: 18px;
    left: 53px;
    bottom: 95px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
}
.review-img-box div {
    margin: 0;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    width: 75px;
    height: 75px;
}
.review-img-box div svg {
    width: 100%;
    height: 35%;
    margin-top: 25px;
}
.review-img-box div img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/* 리뷰내용 */
.review-form-content {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review-form-content textarea {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    resize: none;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
}
/* 버튼 */
.review-form-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}