* {
  font-family: "Suit", sans-serif;
}

.headerContainer {
  background-color: #fff1e6;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  min-width: 320px;
  max-width: 640px;
  height: 80px;
  color: #000;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}

.headerContainer img {
  width: 180px;
  margin-top: 10px;
}
