.reservation-list-container {
  width: 100%;
  height: 100vh;
  margin: 80px 0px 100px 0px;
  padding: 30px;
  overflow-y: auto; /* 내부 스크롤 활성화 */
}
.reservation-list-title {
  height: 30px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  position: fixed;
  /* bottom: 90px; */
  top: 80px;
  left: 0;
  right: 0;
  z-index: 500;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 0px 30px;
}

.count-filter-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px 20px 0px;
}
.count-filter-wrap p {
  font-size: 15px;
  margin: 0;
  line-height: 30px;
}
.count-filter-wrap .dropdown {
  margin: 0;
}
.count-filter-wrap .dropdown .dropdown-toggle {
  color: #777 !important;
  font-weight: 100;
  background-color: #fff !important;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  width: 130px;
}
.count-filter-wrap .dropdown .dropdown-toggle::after {
  margin-left: 40px;
}

/* 예약내역 */
.reservation-box {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.reservation-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.reservation-list-name-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* 리뷰작성 */
.reservation-list-name-status .rv-write-wrap {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 5px;
}
.reservation-list-name-status .rv-write-wrap > p {
  font-size: 12px;
  line-height: 23px;
}
.reservation-list-name-status .rv-write-wrap > svg:nth-of-type(1) {
  cursor: pointer;
}
.reservation-list-name-status p {
  margin: 0;
  font-size: 18px;
  margin-bottom: 5px;
}
.reservation-list-name-status svg {
  margin: 0;
  width: 23px;
  height: 23px;
}

.reservation-info-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.reservation-info-wrap p {
  margin: 0;
  font-size: 14px;
  margin: 3px;
}
.reservation-info-wrap p:nth-of-type(1) {
  color: #777;
  margin-right: 10px;
}
.reservation-info-wrap p:nth-of-type(2) {
  flex: 1;
}
.reservation-info-wrap button {
  margin: 0;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-weight: 100;
}
