.card-slider-item {
    display: flex;
    gap: 10px;
    height: 100%;
    padding: 2px;
}
.card {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}
.card-title,
.card-store-location,
.card-store-time-text {
    margin: 0;
    width: 250px;
    color: #777;
}
.card-title {
    margin: 0;
    font-size: 18px;
    color: #000;
}

/* 리뷰 평점 + 리뷰 개수 */
.card-star-review {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    padding: 3px 0px;
}
.card-star-review svg:nth-of-type(1) {
    margin: 0;
    color: #ffb703;
    width: 11px;
    height: 11px;
}
.card-star-review svg:nth-of-type(2) {
    margin: 0;
    color: #777;
    width: 11px;
    height: 11px;
}
.card-star-review p {
    margin: 0px 5px 0px 3px;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
}
/* 이미지 */
.card > img {
    height: 65%;
}

.card-store-map,
.card-store-time {
    display: flex;
    padding-top: 5px;
    margin-left: 5px;
}

.card-store-map > svg {
    width: 18px;
    height: 18px;
    margin: 1px 0px 0px -3px;
    color: #777;
}

.card-store-time > svg {
    margin-right: 2px;
    margin-left: -2px;
    width: 16px;
    height: 18px;
    color: #777;
}

/* indicators */
.carousel-indicators {
    display: none;
}
