/* 저장매장내역 */
.saved-stores-wrap {
  margin-top: 30px;
}
/* 매장개수 + 필터링 */
.saved-stores-cnt-filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}
.saved-stores-cnt-filter p {
  margin: 0;
  font-size: 14px;
}
.saved-stores-cnt-filter .dropdown {
  margin: 0;
}
.saved-stores-cnt-filter .dropdown .dropdown-toggle {
  color: #777 !important;
  font-weight: 100;
  background-color: #fff !important;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  width: 130px;
}
.saved-stores-cnt-filter .dropdown .dropdown-toggle::after {
  margin-left: 40px;
}
/* 저장매장박스 */
.saved-stores-list-box {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}
.saved-stores-list-box:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
/* 저장매장 이미지 */
.saved-stores-image-wrap {
  width: 35%;
}
.saved-stores-image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* 저장매장 정보 */
.saved-stores-info-wrap {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.saved-stores-info-wrap p,
.saved-stores-info-wrap svg {
  margin: 0;
}
/* -- 매장이름,하트 */
.saved-stores-info-wrap > .store-name-heart {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.saved-stores-info-wrap > .store-name-heart > p {
  font-size: 15px;
  font-weight: 300;
}
.saved-stores-info-wrap > .store-name-heart > svg {
  width: 22px;
  height: 22px;
  color: #e78a99;
}
/* 리뷰 - 평점, 개수 */
.saved-stores-info-wrap > .review {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.saved-stores-info-wrap > .review > svg {
  color: #ffb703;
  width: 20px;
  height: 20px;
}
.saved-stores-info-wrap > .review > p {
  font-size: 13px;
  line-height: 20px;
  margin-left: 2px;
}
.saved-stores-info-wrap > .review > p:nth-of-type(2) {
  color: #777;
}
/* 지도, 시간 */
.saved-stores-info-wrap > .map,
.saved-stores-info-wrap > .time {
  width: 100%;
  display: flex;
  color: #777;
}
.saved-stores-info-wrap > .map > svg {
  width: 20px;
  height: 20px;
}
.saved-stores-info-wrap > .map > p {
  line-height: 20px;
}

.saved-stores-info-wrap > .time > svg {
  width: 20px;
  height: 18px;
}
.saved-stores-info-wrap > .time > p {
  line-height: 18px;
}
/* 예약횟수 */
.saved-stores-info-wrap > .rv-cnt {
  width: 100%;
  text-align: right;
  color: #777;
  margin-top: 15px;
}
