.search-store-container {
  width: 100%;
  margin: 80px 0px;
  padding: 30px;
  overflow-y: auto; /* 내부 스크롤 활성화 */
}

.search-detail-container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
}
.search-detail-container > p {
  font-size: 20px;
  margin: 0px;
}

/* search option */
.search-store-option-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12.5px;
  margin-top: 10px;
}
.search-store-option-wrap select {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  width: 185px;
  height: 40px;
  padding-left: 3px;
  color: #777;
  font-weight: 100;
  font-size: 13px;
}
.search-store-option-wrap select:focus {
  outline: none;
  border-color: #edafb8;
  box-shadow: 0 0 8px rgba(237, 175, 184, 0.5);
}

/* search input */
.search-store-input-wrap {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12.5px;
}
.search-store-input-wrap input {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  width: 477.5px;
  height: 40px;
  padding-left: 10px;
  color: #777;
  font-weight: 100;
  font-size: 13px;
}
.search-store-input-wrap input:focus {
  outline: none;
  border-color: #edafb8;
  box-shadow: 0 0 8px rgba(237, 175, 184, 0.5);
}

/* search store button */
.search-store-btn {
  height: 40px;
}

/* border */
.search-store-border {
  border: 1px solid #e3e3e3;
  width: 100%;
}

/* filter */
.search-store-filter {
  width: 100%;
  height: 70px;
  padding: 15px 0px;
}
.search-store-filter select {
  font-size: 13px;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  padding-left: 3px;
  color: #777;
  font-weight: 100;
  font-size: 13px;
}
.search-store-filter select:focus {
  outline: none;
  border-color: #edafb8;
  box-shadow: 0 0 8px rgba(237, 175, 184, 0.5);
}

/* 상점 박스 */
.store-box-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.store-box-wrap {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.store-box-wrap:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.store-box-wrap .store-name {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  margin: 0;
}
.store-box-wrap .store-review-icon {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px;
  justify-content: flex-start;
}
.store-box-wrap .store-review-icon img {
  width: 18px;
  height: 18px;
  margin: 0;
}
.store-box-wrap .store-review-icon p {
  margin: 0px 20px 0px 0px;
  line-height: 18px;
}
.store-box-wrap p {
  font-size: 15px;
  font-weight: 100;
  letter-spacing: 1px;
}
.store-box-wrap .store-info-icon {
  display: flex;
  margin-top: 8px;
  padding-left: 5px;
  color: #777;
}
.store-box-wrap .store-info-icon > p {
  flex: 3;
  padding-left: 5px;
  margin: 0;
}
.store-info-icon > svg {
  width: 18px;
  height: 18px;
  margin-left: -3px;
}

/* 상점이미지 */
.store-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.store-images img {
  width: 49%;
  height: 180px;
  object-fit: cover;
}
