.store-info-container {
  width: 100%;
  margin: 80px 0px 100px 0px;
  padding: 30px;
  overflow-y: auto; /* 내부 스크롤 활성화 */
}

.slick-track {
  gap: 5px;
}

.store-title-wrap {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 500;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  padding: 10px 30px;
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
}
.store-title-wrap svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 5px;
}
.store-title-wrap svg:nth-of-type(2) {
  margin-right: 8px;
}
.store-title-wrap p {
  flex: 3;
  height: 15px;
  font-size: 20px;
  line-height: 30px;
}

/* image */
.store-image-wrap {
  margin-top: 35px;
}
.store-image-wrap img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

/* menu tab */
.targetContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

.targetContainer button {
  width: 200px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 300;
  border: 1px solid black;
  background-color: #dde7e1;
  color: #777;
  cursor: pointer;
  letter-spacing: 3px;
  border-right: none;
}

.targetContainer button:nth-of-type(4) {
  border-right: 1px solid black;
}

/* 타겟에 따른 화면 구성 */
.about-title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
}
/* 1. 홈 */
.store-about-wrap {
  padding: 10px 30px;
  overflow-y: auto;
}
.about-home > p:nth-of-type(2) {
  font-size: 13px;
}

/* 2. 메뉴 */
.menu-tab-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  margin: 0;
  padding: 5px 0px;
  overflow-x: auto;
  white-space: nowrap; /* 버튼 줄바꿈 방지 */
  scroll-behavior: smooth; /* 부드러운 스크롤 */
  -webkit-overflow-scrolling: touch; /* 모바일 터치 스크롤 지원 */
}
.menu-tab {
  padding: 10px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  transition: 0.2s;
  width: 90px;
  height: 30px;
  line-height: 0px;
  border-radius: 10px;
  font-weight: 200;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  text-align: center;
  flex-shrink: 0; /* 버튼 크기 유지 */
}
.menu-tab.active {
  background: #a8caba;
  font-weight: bold;
}
.menu-tab-container {
  width: 100%;
  display: flex;
  gap: 10px;
}

.menu-price-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
}
.menu-price-wrap p {
  margin: 0;
  padding: 10px 0px;
}

/* 3. 디자이너 */
.designer-border {
  border: 1px solid #e3e3e3;
}
.designer-wrap {
  cursor: pointer;
}
.designer-check-wrap,
.designer-box > p {
  padding: 10px;
}
.designer-check-wrap {
  display: flex;
  flex-direction: row;
}
.designer-check-wrap > svg {
  margin: 0px;
  width: 15px;
  height: 15px;
}
.designer-check-wrap > p {
  margin: 0px;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  margin-left: 10px;
}
.designer-check-wrap > p:nth-of-type(2) {
  font-size: 12px;
  line-height: 18px;
  color: #777;
}
.designer-info {
  font-size: 13px;
  width: 100%;
  margin: 0px 0px 0px 25px;
}

/* review */
.review-container {
  margin: 10px 0px;
}

.review-box-wrap {
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-bottom: 20px;
}
.review-box-wrap img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.review-date-star {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.review-date-star p {
  margin: 0;
  font-size: 14px;
}
.review-rating {
  margin: 0;
  color: #ffb703;
}
.review-id {
  font-size: 14px;
  margin-top: 3px;
}
.review-designer-grooming {
  font-size: 11px;
  color: #777;
  margin-bottom: 10px;
}
.review-content {
  font-size: 12px;
  margin: 5px 0px;
}

/* reservation button */
.reservation-btn {
  position: fixed;
  bottom: 80px;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  min-width: 320px;
  max-width: 640px;
  padding: 5px 30px;
  background-color: #fff;
  height: 50px;
  justify-content: center;
}
