<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dangle.account.AccountMapper">

    <!-- 로그인 시 계정 유무 확인 -->
    <select id="checkLogin" parameterType="map" resultType="int">
        SELECT COUNT(*)
        FROM USERS
        WHERE USER_ID = #{userId} AND USER_PW = #{userPw}
    </select>

    <!-- 회원가입 -->
    <insert id="joinForm" parameterType="AccountVO">
        INSERT INTO users (
                            USER_ID,
                            USER_PW,
                            USER_NAME,
                            USER_BIRTH,
                            USER_GENDER,
                            USER_EMAIL,
                            USER_PHONE,
                            USER_ADDRESS,
                            USER_JOIN_DATE,
                            ACCOUNT_STATUS_NO,
                            USER_PROFILE_URL
        ) VALUES (
                  #{userId},
                  #{userPw},
                  #{userName},
                  #{userBirth},
                  #{userGender},
                  #{userEmail},
                  #{userPhone},
                  #{userAddress},
                  #{userJoinDate},
                  #{accountStatusNo},
                  #{userProfileUrl}
                         )
    </insert>

    <!-- 아이디 찾기(1) - 이메일로 찾기 -->
    <select id="findIdByEmail" parameterType="String" resultType="String">
        SELECT USER_ID
        FROM USERS
        WHERE USER_EMAIL = #{userEmail}
    </select>

    <!-- 아이디 찾기(2) - 이름/전화번호로 찾기 -->
    <select id="findIdByNameAndPhone" parameterType="map" resultType="String">
        SELECT USER_ID
        FROM USERS
        WHERE USER_NAME = #{userName} AND USER_PHONE = #{userPhone}
    </select>

    <!-- 사용자 존재 여부 확인 -->
    <select id="findAccountForPw" parameterType="AccountVO" resultType="int">
        SELECT COUNT(*)
        FROM USERS
        WHERE USER_ID = #{userId} AND USER_PHONE = #{userPhone}
    </select>

    <!-- 비밀번호 변경 -->
    <update id="updatePassword" parameterType="AccountVO">
        UPDATE USERS
        SET USER_PW = #{userPw}
        WHERE USER_ID = #{userId}
    </update>

    <!-- 로그인한 계정정보 조회 -->
    <select id="getProfile" parameterType="integer" resultType="integer">
        SELECT USER_NAME
        FROM USERS
        WHERE USER_NO = #{userNo}
    </select>
    
    <!-- 회원아이디로 회원번호 조회 -->
    <select id="getUserNoByUserId" parameterType="string" resultType="int">
        SELECT USER_NO
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

</mapper>