<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.dangle.store.StoreMapper">

    <resultMap id="storeResultMap" type="com.project.dangle.command.StoreVO">
        <result property="storeNo" column="STORE_NO"/>
        <result property="storeName" column="STORE_NAME"/>
        <result property="storePhone" column="STORE_PHONE"/>
        <result property="storeAddress" column="STORE_ADDRESS"/>
        <result property="storeAddressDetail" column="STORE_ADDRESS_DETAIL"/>
        <result property="storeOpenTime" column="STORE_OPEN_TIME"/>
        <result property="storeCloseTime" column="STORE_CLOSE_TIME"/>
        <result property="storeAboutComment" column="STORE_ABOUT_COMMENT"/>
        <result property="storeDayoff" column="STORE_DAYOFF"/>
        <result property="reviewCount" column="review_count"/>
        <result property="reviewScoreAvg" column="avg_review_score"/>
    </resultMap>

    <select id="getStoreList" resultMap="storeResultMap">
        SELECT
            S.STORE_NO,
            S.STORE_NAME,
            S.STORE_PHONE,
            S.STORE_ADDRESS,
            S.STORE_ADDRESS_DETAIL,
            S.STORE_OPEN_TIME,
            S.STORE_CLOSE_TIME,
            S.STORE_ABOUT_COMMENT,
            S.STORE_DAYOFF,
            COUNT(R.REVIEW_NO) AS REVIEW_COUNT,
            AVG(R.REVIEW_SCORE) AS AVG_REVIEW_SCORE
        FROM STORE AS S
        LEFT JOIN REVIEW AS R
        ON S.STORE_NO = R.STORE_NO
        GROUP BY
            S.STORE_NO,
            S.STORE_NAME,
            S.STORE_PHONE,
            S.STORE_ADDRESS,
            S.STORE_ADDRESS_DETAIL,
            S.STORE_OPEN_TIME,
            S.STORE_CLOSE_TIME,
            S.STORE_ABOUT_COMMENT,
            S.STORE_DAYOFF
        ORDER BY S.STORE_NO ASC;
    </select>

    <resultMap id="designerResultMap" type="com.project.dangle.command.DesignerVO">
        <result property="designerNo" column="DESIGNER_NO"/>
        <result property="storeNo" column="STORE_NO"/>
        <result property="designerName" column="DESIGNER_NAME"/>
        <result property="designerRole" column="DESIGNER_ROLE"/>
        <result property="designerExperience" column="DESIGNER_EXPERIENCE"/>
        <result property="designerInfo" column="DESIGNER_INFO"/>
        <result property="designerPhone" column="DESIGNER_PHONE"/>
        <result property="designerStatusNo" column="DESIGNER_STATUS_NO"/>
    </resultMap>

    <select id="getDesignerListByStoreNo" resultMap="designerResultMap">
        SELECT
            D.DESIGNER_NO,
            D.STORE_NO,
            D.DESIGNER_NAME,
            D.DESIGNER_ROLE,
            D.DESIGNER_EXPERIENCE,
            D.DESIGNER_INFO,
            D.DESIGNER_PHONE,
            D.DESIGNER_STATUS_NO
        FROM DESIGNER AS D
        WHERE D.STORE_NO = #{storeNo}
        ORDER BY DESIGNER_NO ASC;
    </select>

</mapper>